<form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
  <div class="form-check">
    <input
      type="radio"
      class="form-check-input"
      id="materialUnchecked2"
      value="Reactive unchecked"
      formControlName="reactiveRadio"
      name="reactiveRadio"
      (change)="changeUpdate()"
    />
    <label class="form-check-label" for="materialUnchecked2">Reactive unchecked</label>
  </div>

  <div class="form-check">
    <input
      type="radio"
      class="form-check-input"
      id="materialChecked2"
      value="Reactive checked"
      formControlName="reactiveRadio"
      name="reactiveRadio"
      (change)="changeUpdate()"
    />
    <label class="form-check-label" for="materialChecked2">Reactive checked</label>
  </div>
  <button type="submit" [disabled]="!reactiveForm.valid">Submit</button>
</form>
{{ reactiveForm.controls['reactiveRadio'].value }}
{{ reactiveForm.disabled }}
